/Visitor.class
/VisitorEntidad.class
/VisitorEnemigo.class
/VisitorPersonaje.class
/VisitorLanzamientoAliado.class
/VisitorLanzamientoEnemigo.class
/VisitorPowerUp.class
/VisitorCuracion.class
/VisitorCongelar.class
/VisitorCuarentena.class
/VisitorSuperArmaSanitaria.class
